{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
   <div class="row">
      <div class="col-md-6 text-center">
         <section class='grafics'>
            <h3> {{ title_grafic}} </h3>
            {% for destacada in destacades %}
              <div id="enquesta-{{ destacada.id }}" class="enquesta list-group col-md-6 col-md-offset-3 text-center">
                <p>{{ destacada.pregunta }}</p>
                <canvas id="canvas-enquesta-{{ destacada.id }}">El teu navejador no soporta canvas</canvas>
              </div>
            {% endfor %}
         </section>
      </div>
      <div class="col-md-6 text-center">
         <section class='login'>
            <img src="{{ asset('img/logo_invertit.png') }}" width="20%" alt="logo vota">
            <h3> Login </h3>
            <div class="col-md-4 col-md-offset-4 text-center">
               <form action="{{ path('login') }}" method="post">
                  <p><input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'usuari"/></p>
                  <p><input class="form-control" type="password" id="password" name="_password" placeholder="Contrasenya"/></p>
                  {% if error %}
                  <p>
                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  </p>
                  {% endif %}
                  <p><button type="submit" class="btn btn-success">Entrar</button></p>
                  <p>O</p>
                  <p><a href="{{ path('registre') }}" class="btn btn-success">Registrar-se</a></p>
               </form>
            </div>
         </section>
      </div>
   </div>
</div>
{% endblock %}
