{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  {% if message is not empty %}
  <div class="row col-md-6 col-md-offset-3 text-center">
       <div class="alert alert-success">
         <span> {{message}} </span>
       </div>
   </div>
   {% endif %}
   <section class='signup'>
      <div class="row">
         {{ form_start(form, {'attr': {'class': 'col-lg-4 col-lg-offset-4 text-center'}}) }}
         {{ form_row(form.username) }}
         {{ form_row(form.plainPassword.first) }}
         {{ form_row(form.plainPassword.second) }}
         {{ form_end(form) }}
      </div>
      <div class="row col-lg-4 col-lg-offset-4 text-center">
         <a href="{{ path('login') }}"><i class="fa fa-arrow-circle-left"></i>Tornar enrera</a>
      </div>
   </section>
</div>
{% endblock %}
