<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <title>{% block title %}Vota!{% endblock %}</title>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
      <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
      {% block stylesheets %}{% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
   </head>
   <body>
      <div class="contenidor_principal">
         <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="{{ url('index') }}"><img src="{{ asset('img/logo.png') }}" alt="logo vota">
                  </a>
               </div>
               <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                     {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                     <a href="{{ path('logout') }}" class="btn btn-success">Logout</a>
                     {% endif %}
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      {% block body %}{% endblock %}
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
      <script src="{{ asset('js/all.js') }}"></script>
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and not is_granted('ROLE_ADMIN') %}
      <script src="{{ asset('js/user.js') }}"></script>
      {% endif %}
      {% block javascripts %}{% endblock %}
   </body>
</html>
