{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
   <header class="text-center">
   <section class='formulari'>
   {% if message is not empty %}
   <div class="row col-md-6 col-md-offset-3 text-center">
        <div class="alert alert-success">
          <span> {{message}} </span>
        </div>
    </div>
    {% endif %}
    <div class="row col-md-8 col-md-offset-2 text-center">
      <h3> {{title}} </h3>
      {{ form_start(form, {'attr': {'class': 'col-lg-4 col-lg-offset-4 text-center'}}) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
    <div class="row col-lg-4 col-lg-offset-4 text-center">
        <p><a href="{{ path('index') }}"><i class="fa fa-arrow-circle-left"></i>Enrere</a></p>
      </div>
   </div>
</div>
{% endblock %}
