{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
   <div class="container">
      <section class='grafics'>
      </section>
      <section class='login'>
         <div class='login__wrapper'>
            <p>Login</p>
            <input class='login__textInput' type='text' placeholder='Usuari'>
            <input class='login__textInput' type='text' placeholder='Contrasenya'>
            <button class='login__btn'>Login</button>
         </div>
      </section>
   </div>
</div>
{% endblock %}
