body {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
}

.btn-success {
  background-color: #970008;
  border-color: #bf0710;
}
/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.contenidor_principal .navbar-brand {
  height: 80px;
}

.navbar-right > a {
  margin:20px 15px 0 0;
}

/* .navbar-right > a {
  margin:20px 15px 0 0;
} */


/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}
.enquesta {
  margin-bottom: 30px;
}
.circulo {
  height: 30px;
  width: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
}
.circulo_rojo {
  background-color: #ff3823;
}
.circulo_verde {
  background-color: #72bb53;
}
.circulo_naranja {
  background-color: #ffa834;
}

.gi-circulo{
  font-size: 1.6em;
}
