{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
{% if not is_granted('ROLE_ADMIN') %}
<p id="usuari" style="display: none">{{ user }}</p>
{% endif %}
<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="row">
         {% if is_granted('ROLE_ADMIN') %}
         <a href="{{ path('crearEnquesta') }}" class="btn btn-primary">Crear enquesta</a>
         {% endif %}
      </div>
      {% if message is not empty %}
      <div class="row col-md-6 col-md-offset-3 text-center">
         <div class="alert alert-info">
            <p>{{ message }}</p>
         </div>
      </div>
      {% endif %}
      <div class="row">
         {% if enquestes is not empty %}
         <div class="list-group col-md-6 col-md-offset-3 text-center">
            {% for enquesta in enquestes %}
            {% if not is_granted('ROLE_ADMIN') and date()|date('Y-m-d') >= enquesta.dataInici|date('Y-m-d') and date()|date('Y-m-d') < enquesta.dataFinal|date('Y-m-d') or is_granted('ROLE_ADMIN') %}
            <div id="enquesta-{{ enquesta.id }}" class="enquesta">
               {% if is_granted('ROLE_ADMIN') %}
               <a href='{{ path('editarEnquesta', {'id': enquesta.id}) }}' class='list-group-item'>
               {% else %}
               <a class='list-group-item'>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                  {% if enquesta.destacada %}
                  <p class='list-group-item-heading text-right'><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                  {% else %}
                  <p class='list-group-item-heading text-right'><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></p>
                  {% endif %}
                  {% endif %}
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-4">
                              {% if date('+2days', 'Europe/Paris')|date('Y-m-d') == enquesta.dataFinal|date('Y-m-d') or date('+1days', 'Europe/Paris')|date('Y-m-d') ==  enquesta.dataFinal|date('Y-m-d') %}
                              <span class="circulo circulo_naranja"></span>
                              {% elseif date()|date('Y-m-d') < enquesta.dataFinal|date('Y-m-d') %}
                              <span class="circulo circulo_verde"></span>
                              {% else %}
                              <span class="circulo circulo_rojo"></span>
                              {% endif %}
                           </div>
                           <div class="col-md-8 text-left">
                              <p>{{ enquesta.pregunta }}</p>
                           </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="row">
                           <div class="col-md-7">
                              <p>Respostes</p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-4">
                              <p>Si</p>
                           </div>
                           <div class="col-md-4">
                              <p>No</p>
                           </div>
                           <div class="col-md-4">
                              <p>Total</p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-4">
                              <p id="resposta-si-{{ enquesta.id }}"></p>
                           </div>
                           <div class="col-md-4">
                              <p id="resposta-no-{{ enquesta.id }}"></p>
                           </div>
                           <div class="col-md-4">
                              <p id="resposta-total-{{ enquesta.id }}"></p>
                           </div>
                        </div>
                        {% else %}
                        <div class="row">
                           <div class="col-md-6">
                              <p>Resposta</p>
                           </div>
                           <div class="col-md-6">
                              <p>Data</p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <span id="icono-respondida-{{ enquesta.id }}" class="circulo"></span>
                           </div>
                           <div class="col-md-6">
                              <p>{{ enquesta.dataFinal|date('d/m/Y') }}</p>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                     <div class="col-md-6">
                        <canvas id="canvas-enquesta-{{ enquesta.id }}">El teu navejador no soporta canvas</canvas>
                     </div>
                  </div>
               </a>
            </div>
            {% endif %}
            {% endfor %}
         </div>
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}
